<tr id="d-{id}">
    <td>
        <span class="check-row">
            <input id="row-{id}" type="checkbox">
            <label for="row-{id}"></label>
        </span>
    </td>
    <td class="col-name popup-msg" >
        <span style="display: block;">{name}</span>
    </td>
    <td><span>{state}</span></td>
    <td><span>{pages}</span></td>
    <td>
        <div class="progress text-center text-dark"><span id="progr-text">1/{pages}</span>
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"></div>
        </div>
    </td>
    <td style="width:30px">
        <span class="row-delete"><i class="fas fa-trash-alt"></i></span>
    </td>
</tr>