* {
    margin: 0;
    padding: 0;
}

label {
    margin: 0;
}

body, html {
    background: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    overflow-y: auto;
    border-radius: 1em;
}

body {
    user-select: none;
    touch-action: none;
}

.main-container {
    background-color: #14243d;
    background: radial-gradient(ellipse at center, #14243d 0%, #030611 100%);
    min-height: 100%;
    height: 100%;
    padding-top: 43px;
    padding-bottom: 40px;
}

#content {
    min-height: 100%;
    overflow-y: auto;
    height: 100%;
    padding: 5px 10px;
}

.d-controls {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #14243d;
    border-radius: 1.1em 1.1em 0 0;
}

.d-controls label, .d-controls span {
    display: inline-block;
    width: 40px;
    padding: 3.5px 10px;
    font-size: 1.5rem;
    -webkit-app-region: no-drag;
    z-index: 99;
}

#drag-region {
    flex-grow: 1;
    -webkit-app-region: drag;
    margin-top: 5px;
}

#d-control {
    flex-shrink: 1;
}

#win-control {
    flex-shrink: 1;
}

#clean-notify:hover,
#win-control span:hover,
#d-control label:hover,
#d-control span:hover{
    cursor: pointer;
    background-color: rgba(53, 237, 243, 0.2);
}
#d-control span:first-child:hover{
    border-radius: 0.6em 0 0 0;
}

.btn-sys-close {
    border-radius: 0 0.6em 0 0;
}

#d-clean-complete .fa-trash-alt{
    position: relative;
}

#d-clean-complete .fa-broom{
    position: absolute;
    top: 3px;
    left: -2px;
    color: midnightblue;
}

#win-control .btn-sys-close:hover {
    background-color: red;
}
#clean-notify:active,
table tr .fa-trash-alt,
.d-controls span:active i,
.d-controls label:active i{
    transform: translateY(5px)
}
#d-path:hover,
footer .round-check label:hover,
table tr .fa-trash-alt:hover,
.d-controls span:hover, 
.fa-trash-alt:hover {
    text-shadow: 0 0 5px #fff;
    cursor: pointer;
}
footer .round-check label:hover span:first-child,
table .round-check label:hover span{
    box-shadow: 0 0 10px #fff;
    cursor: pointer;
}

#table-container {
    border-radius: 1em;
    min-width: 670px;
}

table {
    border-collapse: separate;
}

#check {
    padding: 0 10px;
    cursor: pointer;
}

#check label {
    margin: 0;
    cursor: pointer;
}

thead {
    background-color: #bbb;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d6d6d6), color-stop(0.4, #c0c0c0), color-stop(1, #a4a4a4));
    border-radius: 1em 1em 1em 1em;
}

thead tr td {
    font-size: 16px;
    font-weight: bold;
    padding: 0.5em 0.5em;
    color: #444;
    text-shadow: #f7f7f7 0 1px 1px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #888;
}

tbody {
    text-align: left;
}

tbody tr td {
    padding: 10px;
}

tbody tr td:nth-child(2) {
    white-space: nowrap;
    overflow: hidden;
    max-width: 250px;
    user-select: text;
}
tbody tr td:nth-child(3),
tbody tr td:nth-child(4),
tbody tr td:nth-child(5),
tbody tr td:nth-child(6){
   text-align: center;
}

tbody tr td:first-child {
    text-align: center;
}

tbody tr td input[type=checkbox] {
    display: inline-block;
}

tbody tr td {
    border-bottom: 1px solid #dee2e6;
}

tbody tr:last-child td {
    border-bottom: 0;
}

thead tr td:first-child {
    border-radius: 1em 0 0 0;
}

thead tr td:last-child {
    border-radius: 0 1em 0 0;
}

thead tr td:last-child {
    border-radius: 0 1em 0 0;
}

tbody tr td:last-child {
    text-align: center;
    color: red;
}

tbody tr:first-child {
    display: none;
}

tbody tr:first-child:only-child {
    display: table-row;
}

tbody tr:first-child:only-child td{
    text-align: center;
    color: white;
    font-size: 30px;
}

tbody .fas, tbody .far, tbody .fa {
    font-size: 2.2rem;
    margin: 0 5px;
}

.progress {
    position: relative;
    height: 1.2rem;
}

#progr-text {
    position: absolute;
    width: 100%;
    color: black;
    font-weight: bold;
}

/*************************Scrollbar Style********************************/

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(20, 210, 230, 0.82);
    box-shadow: inset 0 0 6px rgba(15, 111, 228, 0.82);
}

/************************* End ********************************/

footer {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 15;
    background-color: #14243d;
    padding: 5px;
    text-align: left;
    border-radius: 0 0 1em 1em;
    font-size: 18px;
    font-weight: 750;
}

footer span {
    align-self: center;
    margin: 0 5px;
}

#d-path {
    flex-grow: 1;
    align-self: center;
    cursor: pointer;
    margin-left: 5px;
}

#d-path span{
    margin: 0;
}
#d-path span:hover {
    text-decoration-line: underline;
}

#d-path .fa-folder {
    position:relative;
    font-size: 27px;
}

#d-path .fa-arrow-down {
    position: absolute;
    top: 6px;
    left: 6px;
    font-size: 18px;
    color: brown;
}

#d-files-count{
    display: inline-block;
    background-color: wheat;
    border-radius: 5px;
    padding: 2px 4px;
    color: black;
    flex-shrink: 1;
}

/****************************************************/

.round-check, .round-check label, .round-check span {
    padding: 0;
    margin: 0;
}

.round-check label, .round-check input {
    display: none;
}

.round-check label {
    position: relative;
    display: flex;
    height: 30px;
    width: 75px;
    flex-basis: auto;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.round-check label:after {
    content: " ";
    display: block;
    position: absolute;
    min-width: 17px;
    min-height: 17px;
    border-radius: 100px;
    left: 1px;
    z-index: 1;
    background: #333;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.5);
    transition: all .15s ease;
}

.round-check span {
    position: absolute;
    left: 32px;
}

.round-check .check-top {
    display: inline-block;
    position: absolute;
    height: 21px;
    width: 21px;
    background-color: wheat;
    border-radius: 100px;
    left: -1px;
}

.round-check input[type=checkbox] {
    display: none;
}

.round-check input[type=checkbox]:checked+label:after {
    background: honeydew;
}
#download .round-check label{
    width: 44px;
    left: 0px;
    height: 45px;
}
#download .round-check label:after{
    left: 12.5px;
}
#download .round-check span {
    left: 10.5px;
}
/*******************row check******************/

tbody tr td:first-child {
    padding: 0px;
    height: auto;
    width: 1px;
}

.unCorner {
    border-radius: 0;
}

.d-controls label .fa-clipboard {
    position: relative;
}

.d-controls label .fa-eye {
    display: none;
    position: absolute;
    top: 8px;
    left: 2px;
    font-size: 12px;
    pointer-events: none
}

.d-controls label input:checked+.fa-eye {
    display: inline-block;
}
#modal-scan-folder{
    display: none;
}
#scan-list-show {
    align-self: center;
    margin: 0 10px;
}
#file-list-show i,
#scan-list-show .fa-clipboard {
    position: relative;
    font-size: 22px;
}

#scan-list-show .fa-folder {
    position: absolute;
    font-size: 9px;
    top: 8px;
    left: 3.6px;
}

.modal-content {
    position: fixed;
    bottom: 45px;
    left: 5px;
    max-width: 450px;
    z-index: 12;
}

.list-group li {
    padding: 10px;
}


.list-group li .fa-trash-alt {
    font-size: 20px;
    cursor: pointer;
}
#file-list-hide,
#scan-list-hide, 
#list-add-folder {
    position: absolute;
    font-size: 25px;
    top: 4px;
    left: 10px;
}
#file-list-hide,
#scan-list-hide {
    left: inherit;
    right: 10px;
}

.card-header {
    padding: 10px;
}
.modal-body{
    padding: 0 .2rem;
}

#modal-file-list
{
  display: none;
  height: calc(100% - 100px);
  border-radius: 5px;
  max-width: 500px;
}

#file-list .list-group-item{
    white-space: nowrap;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#file-list-content{
    overflow-y: auto;
    padding: 0 .3rem;
}

#file-list-footer{
   padding: 5px;
}

#file-list-footer .input-group{
    height: 35px;
    margin: 3px 0;
}

#file-list-content::-webkit-scrollbar {
    width: 10px;
}

#file-list-content::-webkit-scrollbar-track {
    margin: 0;
}

#file-list-content::-webkit-scrollbar-thumb {
    border-radius: 0px;
    margin: 3px 0;
} 


.list-group-item:hover{
    opacity: .85;
    cursor: pointer;
}

.list-group-item:active{
    opacity: .95;
}
.pagination:empty{
    display: none;
}
#pagination-list{
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    justify-content: center;
}

.input-group-text{
    padding: 0.375rem 0 0.375rem 0.6rem
}

.fa-search{
    margin-right: 9px;
}

#file-found{
    margin-right: 10px;
    font-weight: bold;
}
#file-list li{
 position: relative;
}

#notify-panel
{
    background-color: transparent;
    position: fixed;
    top: 48px;
    bottom: 40px;
    width: 220px;
    right: 7px;
    opacity: 1;
    z-index: 999;
    pointer-events: none;
}
#notifications{
    display: flex;
    flex-direction: column-reverse;
    background-color: transparent;
    width: 100%;
    min-height: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#notifications::-webkit-scrollbar{
    width: 0px;
}

.noty{
    flex-shrink: 0;
    display: none;
    width: 200px;
    min-height: 100px;
    margin: 2px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 11px;
    padding: 5px;
    pointer-events: auto;
    
}
.noty:hover{
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.noty-title
{
    text-align: center;
    font-weight: 900;
    font-size: 14px;
    border-bottom: 1px solid;
    pointer-events: none
}
.noty-body{
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    padding: 2px auto;
    pointer-events: none
}


#clean-notify{
    display: inline-block;
    text-align: center;
    position: fixed;
    bottom: 44px;
    right: 5px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    color: red;
    border-radius: 50%;
    pointer-events: all;
}

#clean-notify:only-child{
    display: none;
}

#popup{
    display: none;
    position: absolute;
    max-width: 250px;
    z-index: 9999;
    color: white;
    background-color: black;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;pointer-events: none;
}

#popup:after{
    content: " ";
    position: absolute;
    height: 12px;
    width: 12px;
    top: -6px;
    right: calc(100%/2);
    transform: rotate(45deg);
    background-color: black;
}

#popup.top:after{
    top: auto;
    bottom: -6px
}

#online-status{
    position: absolute;
    left: calc(100%/2);
    font-size: 25px;
    color: #007bff;
    display: inline-block;
    background-color: white;
    border-radius: 100%;
    height: 35px;
    width: 35px;
    top: 3px;
}
#online-status .fa-plug{
    position: absolute;
    left: 8px;
    top: 7px;
}
.offline:after{
    position: absolute;
    top: 15px;
    left: 0px;
    display: inline-block;
    content: " ";
    height: 4px;
    width: 100%;
    background-color: red;
    transform: rotatez(45deg);
}

tbody tr:hover{
    background-color: rgba(82,88,94,0.6)!important;  
}

tbody tr:focus{
    outline: none;
    background-color: rgba(0,0,0,0.7)!important;
}

tbody tr:last-child:focus td:first-child,
tbody tr:last-child:hover td:first-child{
    border-radius: 0 0 0 1em;
}

tbody tr:last-child:focus td:last-child,
tbody tr:last-child:hover td:last-child{
    border-radius: 0 0 1em 0;
}

#filter-container{
    position: relative;
    width: 160px;
}

#filter{
    top: 7px;
    position: absolute;
    width: 160px;
    height: 29px;
}

#btn-clear{
    display: none;
    position: absolute;
    top: -2px;
    right: -5px;
    color: red;
}

#btn-clear .far{
    font-size: 20px;
}
#filter:not(:placeholder-shown) + #btn-clear{
    display: initial;
}